* {
  padding: 0;
  margin: 0;
}

div {
  border: solid 0.5px lightgrey;
  flex: 1;
}

.grid-container {
  height: 800px;
  width: 800px;
  border: solid 3px black;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.col {
  flex: 1;
}

.col:hover {
  background-color: black;
}
